<section class="vh-100 "  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp')">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <form  [formGroup]="logform" (ngSubmit)="clicked()">

            <div class="mb-md-5  pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="text" id="typeEmailX" class="form-control form-control-lg"  formControlName="usid"/>
                <label class="form-label" for="typeEmailX">User Id</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" formControlName="pswd" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button type="submit" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              

            </div>
            <div>
              <p class="mb-0">Don't have an account? <a routerLink="/reg" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>